<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Give away your excess food! Instead of letting produce spoil in your kitchen, pay it forward and help out another person in your community."/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/style.css">
<title>Cup O' Sugar</title>
</head>
<body>

<!-- Header Section -->
<header>
    <div id="logo" class="flex-item">
        <a href="/" title="Newsfeed">
            <h1><i class="bi bi-basket-fill"></i> CUP O' SUGAR</h1>
        </a>
    </div>

    <!-- Primary navigation -->
    <div id="sign-in-panel">
    <!-- User Profile displays when a session is active -->
    {{#if logged_in}}

        <!-- Load logout.js -->
        <script src="js/logout.js"></script>

        <!-- Profile / Log Out displays when a session is active -->
        <div class="dropdown flex-item hidden" id="profile-button">
            <button class="dropbtn"><i class="bi bi-person-circle"></i> &nbsp;&nbsp; ACCOUNT</button>
            <div class="dropdown-content">
                <a href="/pantry/"><i class="bi bi-basket"></i> MY PANTRY</a>
                <a href="/messages/"><i class="bi bi-mailbox"></i> VIEW MESSAGES</a>
                <a href="create.html"><i class="bi bi-cart-plus"></i> CREATE A POST</a>
                <a href="#" id="logout"><i class="bi bi-x-circle"></i> SIGN OUT</a>
            </div>
        </div>

    {{else}}

    <!-- Sign In / Register displays when a session is not active -->
    <div class="flex-item">
    <button class="btn btn-primary btn-lg" id="login">Log In</button>
    </div>
    <div class="flex-item">
    <button class="btn btn-primary btn-lg" id="register-start">Register</button>
    </div>
    {{/if}}
    </div>

</header>
<main>
{{{body}}}
</main>

<footer>
<p>Copyright &copy; 2021 Cup O' Sugar LLC.</p>
</footer>
<!-- Start Scripts-->

<script src="/js/register.js"></script>
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<scrip src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></scrip>
<scrip src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></scrip>
<!-- End Scripts-->
</body>
</html>