

 {{#each products as |product|}}
    <div class="card">
        <h4>{{product.type}}</h4> 
        <h3>{{product.quantity}} of {{product.product}}</h3>
     
        <p>{{product.description}}</p>      
        </div>
{{/each}}