 <h2>Welcome</h2>

 {{#each products as |product|}}
    <div class="card">
        <h4>{{product.type}}</h4> 
        <h3>of product</h3>
        <p>Posted By:</p>
        <p>description</p>      
        </div>
{{/each}}

<script src="./../public/js/andrew-test.js"></script>