
<h2 class="center"><i class="bi bi-door-open"></i> Log In</h2>
<div class="market-container">
<div class="market-card">
  <div class="card-header bg-primary center">
    <h3>Welcome Back!</h3>
  </div>
  <div class="card-body">
    <form class="form login-form" >
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />            
  <div class="form-group center">
    <button class="btn btn-primary" type="submit" id="login">Log In</button>
  </div>
</form>
</div>
</div>      
</div>
  

<script src="js/login.js"></script>
