   {{#each Message}}
   <div class="card">
    <h5>{{timestamps}}</h5>
    <h3>MESSAGE FROM { model: User, as: 'user' }</h3>
    <p>{{messages}}</p>
    <button class="btn btn-primary"><i class="bi bi-envelope"></i> Reply</button>
    </div>
    {{/each}}