   {{#each messages as |messages|}}
   <div class="card">
      <div class="card-body">
         <p>Message From: {{user.name}}</p>
         <p>{{messages.messages}}</p>
         <p class="timestamp">Sent: {{messages.created_at}}</p>
         <button class="btn btn-primary"><i class="bi bi-envelope"></i> Reply</button>
      </div>
    </div>
    {{/each}}