<div class="card">
    <div class="card-body">
        <h4>Message {{products.id}}</h4>
        <input type="textarea">
        <input type="button btn btn-primary" value="Send Message"> 
    </div>
</div>