<h2 class="center"><i class="bi bi-person-lines-fill"></i> Register</h2>
<div class="market-container">
<div class="market-card">
  <div class="card-header bg-primary center">
    <h3>Welcome, Neighbour!</h3>
  </div>
  <div class="card-body">
    <form class="form login-form" >
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-register" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-register" />            
  <div class="form-group center">
    <button class="btn btn-primary" type="submit" id="register-form">Register</button>
  </div>
</form>
</div>
</div>      
</div>

<script src="./js/register-login.js"></script>
