:root {
    --primary-color: #FE6100;
    --secondary-color: #009DFF;
    --white: #fff;
}

html {
    
}

body {
    min-height: 100%;
    margin: 0px;
}


header {
    background-color: var(--primary-color) ;
    color: var(--white);
    min-width: 100%;
    min-height:50px;
    margin: 0px;
    padding: 15px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    border: 0px;
    color: var(--white);
}

header a:hover {
    text-decoration: none;
    border: 0px;
    color: #ccc;
}

#sign-in-panel {
    display: flex;
    margin: 5px;
    height: 100%;
    justify-content: space-around;
    
}

#sign-in {
    display: inline-block;
    padding: 10px;
    color: var(--white);
    font-weight: 600;
    align-self: center;
}

#register {
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    align-self: center;
}

.flex-item {
    display: block;
}

.flex {
    display: flex;
}

main {
    background-color: #f9bb95;
    margin: 0px;
    padding: 15px;
}

#offered {
    background-color: green;
    color: var(--white);
    width:50%;
    text-align: center;
}

#requested {
    background-color: red;
    color: var(--white);
    width:50%;
    text-align: center;
}
.card {
    background-color: var(--white);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
footer {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 15px;
    margin: 0px;
}

.hidden {
    visibility: hidden;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /* Log In / Register overlay */
  .tab-style{
    font-size:20px;
    width:50%;
    background-color:#f2f2f2;
      text-align:center;
      
    
    }
    .nav-tabs > li > a {
        margin-right: 0px;
        color:grey;
    }
    
    
    
    .group2 { 
      position: relative; 
      margin-top: 16px; 
    }
    
    .btn-block{margin-top:20px;
    margin-bottom:20px;
    font-size:18px;}
    
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {   background-color:#e5ecf4;
    color:#4a89dc;}
    
    .login-shadow{-webkit-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
    -moz-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
    box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
      z-index:1;
       
    }
    
    .signup-shadow{-webkit-box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
    -moz-box-shadow: -5px -5px 6px 0px rgba(82,82,82,0.52);
    box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
      
    }
    
    
    .modal-header{background-color:#e5ecf4;}
    
    .group { 
      position: relative; 
      margin-top: 30px; 
    }
    
    
    .input {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      -webkit-appearance: none;
      display: block;
      background: none;
      color: #636363;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #757575;
    }
    
    .input:focus { outline: none; }
    
    
    /* Label */
    
    .label {
      color: #757575; 
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: -10px;
      top: 10px;
      transition: all 0.2s ease;
    }
    
    
    /* active */
    
    .input:focus ~ .label, .input.used ~ .label {
      top: -20px;
      transform: scale(.75); left:-15px;
      /* font-size: 14px; */
      color: #4a89dc;
    }
    
    
    /* Underline */
    
    .bar {
      position: relative;
      display: block;
      width: 100%;
    }
    
    .bar:before, .bar:after {
      content: '';
      height: 2px; 
      width: 0;
      bottom: 1px; 
      position: absolute;
      background: #4a89dc; 
      transition: all 0.2s ease;
    }
    
    .bar:before { left: 50%; }
    
    .bar:after { right: 50%; }
    
    
    /* active */
    
    .input:focus ~ .bar:before, .input:focus ~ .bar:after { width: 50%; }
    
    
    /* Highlight */
    
    .highlight {
      position: absolute;
      height: 60%; 
      width: 100px; 
      top: 25%; 
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
    
    
    /* active */
    
    .input:focus ~ .highlight {
      animation: inputHighlighter 0.3s ease;
    }
    
    
    @media  screen and (max-width: 767px) and (min-width: 576px){
      #myModal{margin-left:20%;
                margin-right:20%;}
    
      #forgot-password{margin-left:20%;
                margin-right:20%;}
    } 
    
    
    @media screen and (min-width: 768px) {
      
      #myModal .modal-dialog  {width:500px;}
      
      #forgot-password .modal-dialog{width:500px;}
      
      .modal-body{padding-left:50px;
                  padding-right:50px;}
    }
    
    
    /* .modal-body{background-image:url('http://res.cloudinary.com/rinma/image/upload/v1500489833/Airplane-flying-desktop-pictureproba2_rlcced.jpg');
    background-size:cover;
    z-inedx:4;} */
    
    em{display:none;}
    